.feature-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;

  & a {
    color: var(--color-primary);
    font-size: var(--font-size-md);
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.feature-item {
  margin-bottom: 5px;
}
