.feature-list {
  display: flex;
  align-items: center;
  margin: 15px;

  & a {
    color: var(--color-primary);
    font-size: var(--font-size-md);
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
