* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background: var(--gradient-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  background: var(--background-container);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-main);
  flex-direction: column;
  padding: 50px 40px;
  width: min(500px, 90vw);
}

.header {
  text-align: center;
  margin-bottom: var(--spacing-lg);
  width: 100%;

  & h1 {
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-lg);
  }

  & p {
    color: var(--color-text-light);
    font-size: var(--font-size-md);
  }
}

.main {
  margin-bottom: var(--spacing-lg);
  width: 100%;
  height: 100%;
}

.footer {
  color: var(--color-text);
  font-size: var(--font-size-sm);
  text-align: center;
  width: 100%;

  & a {
    color: var(--color-secondary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & p {
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.4;
  }
}
