<div class="footer">
    <p>
        Нажимая "Авторизация" или "Регистрация", вы соглашаетесь с
        <a href="#">Условиями использования</a> и
        <a href="#">Политикой конфиденциальности</a>
    </p>
</div>