* {
    box-sizing: border-box;
    font-family: Roboto;
    line-height: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
}

.autorization {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
}